<section id="education">
  <div class="container">
    <div class="h1" data-aos="fade-right" data-aos-offset="50">Education</div>
    <div class="card" *ngFor="let eduEntry of educationEntries">
      <div class="row">
        <div
          class="col-md-3 eduCardType"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <p>{{eduEntry.dateRange}}</p>
            <div class="h5">{{eduEntry.eduType}}</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h4">{{eduEntry.title}}</div>
            <h4 class="category">{{eduEntry.where}}</h4>
            <ul>
              <li *ngFor="let eduAddInfoLine of eduEntry.additionalInfo">{{eduAddInfoLine}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <hr />
</div>
