<mat-toolbar>
  <span>
    <a routerLink="/">Kennan RSB</a>
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="spacer"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-xs>
    <ul>
      <li class="hvr-bounce-to-bottom">
        <a routerLink="/about">About</a>
      </li>
      <li class="hvr-bounce-to-bottom">
        <a routerLink="/sites">Sites</a>
      </li>
      <li class="hvr-bounce-to-bottom">
        <a routerLink="/contact" routerLinkActive="mat-accent">Contact</a>
      </li>
    </ul>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-xs>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <ul>
    <li mat-menu-item class="hvr-bounce-to-bottom">
      <a routerLink="/about">About</a>
    </li>
    <li mat-menu-item class="hvr-bounce-to-bottom">
      <a routerLink="/sites">Sites</a>
    </li>
    <li mat-menu-item class="hvr-bounce-to-bottom">
      <a routerLink="/contact" routerLinkActive="mat-accent">Contact</a>
    </li>
  </ul>
</mat-menu>

