<mat-toolbar>
  <span>
    <a routerLink="/home">Kennan RSB</a>
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="spacer"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-xs>
    <ul>
      <li routerLink="/home" class="hvr-bounce-to-bottom">
        <a>Home</a>
      </li>
      <li routerLink="/about" class="hvr-bounce-to-bottom">
        <a>About</a>
      </li>
      <li routerLink="/sites" class="hvr-bounce-to-bottom">
        <a>Sites</a>
      </li>
      <li routerLink="/contact" class="hvr-bounce-to-bottom">
        <a>Contact</a>
      </li>
    </ul>
  </div>
  <button mat-button [disableRipple]="true" [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-xs class="no-hover-effect">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <li routerLink="/home" mat-menu-item>
    <a class="dropdown-link-styling">Home</a>
  </li>
  <li routerLink="/about" mat-menu-item>
    <a class="dropdown-link-styling">About</a>
  </li>
  <li routerLink="/sites" mat-menu-item>
    <a class="dropdown-link-styling">Sites</a>
  </li>
  <li routerLink="/contact" mat-menu-item>
    <a class="dropdown-link-styling">Contact</a>
  </li>
</mat-menu>

