<mat-toolbar>
  <span>
    <a routerLink="/home">Kennan RSB</a>
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="spacer"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-xs>
    <ul>
      <li class="hvr-bounce-to-bottom">
        <a href="#home">Home</a>
      </li>
      <li class="hvr-bounce-to-bottom">
        <a href="#about">About</a>
      </li>
      <li class="hvr-bounce-to-bottom">
        <a href="#experience">Experience</a>
      </li>
      <li class="hvr-bounce-to-bottom">
        <a href="#education">Education</a>
      </li>
      <li class="hvr-bounce-to-bottom">
        <a href="#skills">Skills</a>
      </li>
      <li class="hvr-bounce-to-bottom">
        <a href="#projects">Projects</a>
      </li>
      <li class="hvr-bounce-to-bottom">
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </div>
  <mat-menu #menu="matMenu">
    <li mat-menu-item>
      <a href="#home" class="dropdown-link-styling">Home</a>
    </li>
    <li mat-menu-item>
      <a href="#about" class="dropdown-link-styling">About</a>
    </li>
    <li mat-menu-item>
      <a href="#experience" class="dropdown-link-styling">Experience</a>
    </li>
    <li mat-menu-item>
      <a href="#education" class="dropdown-link-styling">Education</a>
    </li>
    <li mat-menu-item>
      <a href="#skills" class="dropdown-link-styling">Skills</a>
    </li>
    <li mat-menu-item>
      <a href="#projects" class="dropdown-link-styling">Projects</a>
    </li>
    <li mat-menu-item>
      <a href="#contact" class="dropdown-link-styling">Contact</a>
    </li>
  </mat-menu>
  <button *ngIf="(isMobile | async)" mat-button [disableRipple]="true" [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-xs class="no-hover-effect">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>




