div a{
  margin: 1.5em 2em;
}

.footer {
  background-color: #2099d1;
  height: 100%;
  width: 100%;
  padding: 24px 0;
}

.fa-linkedin {
  color: #20d1c2;
  margin-top: .25em;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.fa-linkedin:hover {
  color: #fff;
}

.fa-github {
  color: #20d1c2;
  margin-top: .25em;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.fa-github:hover {
  color: #fff;
}

.copyright {
  color: #20d1c2;
}
