<section (window:resize)="onResize($event)">
  <div class="container">
    <div class="row">
      <div id="about" class="col-8" data-aos="fade-right">
        <div class="h1">About Me</div>
        <mat-card class="aboutText" [style.font-size]="fontSize">
          <p>
            I love knowing how things work, as a child I was constantly building or taking things apart to get a better understanding of how things functioned. That mentality has stuck with me my entire life. In college I majored in Mechanical Engineering Technology to further that pursuit. Prior to receiving my degree, I worked as an Application Engineer for a few years. During that time, I was introduced to some internally developed gearbox design software. Along with extensively working with this software, I was also tasked with creating a smart quote log and an RMA (return merchandise authorization) log. I accomplished this by using VBA in Excel.
          </p>
          <p>
            These experiences sparked my interest in programming. While still working as an Applications Engineer, I started following YouTube Udemy, and other various online tutorials covering Web Development topics in my spare time. After around a year of study, I started attending a meetup group where I began to mentor people who where completely new to Web Development. Soon after that I landed my first IT professional position as a ServiceNow Technical Consultant. In that role I used JavaScript extensively as well as AngularJS, HTML, and CSS.
          </p>
          <p>
            Nearly daily, I research build, or read up on some IT and or programming topic. Outside of these pursuits you may see me on a stage somewhere playing my saxophone.
          </p>
        </mat-card>
      </div>
      <div class="col-4">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img data-aos="fade-left" src="../../assets/imgs/servicenowLogo.svg" width="160" height="100">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <img data-aos="fade-left" src="../../assets/imgs/angular.svg" width="100" height="100">
              <img data-aos="fade-left" data-aos-delay="150" src="../../assets/imgs/bootstrap.svg" width="100" height="100">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <img data-aos="fade-left" src="../../assets/imgs/html.svg" width="100" height="100">
              <img data-aos="fade-left" data-aos-delay="150" src="../../assets/imgs/css.svg" width="100" height="100">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <img data-aos="fade-left" src="../../assets/imgs/javascript.svg" width="100" height="100">
              <img data-aos="fade-left" data-aos-delay="150" src="../../assets/imgs/typescript.svg" width="100" height="100">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <img data-aos="fade-left" src="../../assets/imgs/nodejs.svg" width="100" height="100">
              <img data-aos="fade-left" data-aos-delay="150" src="../../assets/imgs/mongodb.svg" width="100" height="100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <hr>
</div>



