<section id="about" (window:resize)="onResize($event)">
  <div class="container">
    <div class="row">
      <div class="h1" data-aos="fade-right">About Me</div>
      <div id="about" class="col-6" data-aos="fade-right">
        <mat-card class="aboutText" [style.font-size]="fontSize">
          <p>
            I’m just a guy who loves to code, build, learn, game, and play music. Driven by curiosity and determination, I strive to provide excellent service and applications for my clients. Both at work and in my spare time I’m constantly researching new web and IT technologies and building projects. Currently I’m focused on building web apps using the MEAN stack. In terms of IT technologies, I have developed within and worked as a ServiceNow Technical Consultant for the last couple of years.
          </p>
          <p>
            When not researching or working I’m usually playing music or video games to pass the time. If you’d like to know a bit more about my work experience and or education please see below.
          </p>
        </mat-card>
      </div>
      <div class="col-6" data-aos="fade-left">
        <div class="container">
          <img src="../../assets/imgs/CVSiteProfilePic.JPG">
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <hr>
</div>



