h2 {
  text-transform: uppercase;
  text-decoration: underline;
}

img {
  padding-bottom: 10px;
}

mat-card p {
  font-size: 1.2em;
}

.col-12 {
  width: 100%;
  text-align: center;
}

.aboutText {
  background-color: #f2f3f7;
  border-radius: 5px;
}

.aboutIcon {
  margin-top: 25px;
}

.col-4 .container {
  width: 100%;
  padding-top: 1em;
}

.col-4 .container .row {
  margin-bottom: 1em;
}

.nodejs {
  margin-right: 10em;
}

.javascript {
  margin-right: 7em;
}

.html {
  margin-right: 4em;
}

.angular {
  margin-right: 2em;
}
