h2 {
  text-transform: uppercase;
  text-decoration: underline;
}

img {
  padding-bottom: 10px;
}

.aboutText {
  background-color: #f2f3f7;
  border-radius: 5px;
}

.aboutIcon {
  margin-top: 25px;
}

.col-4 .container {
  padding-top: 1em;
  padding-left: 7em;
}

.col-4 .container .row {
  margin-bottom: 1em;
}
