mat-grid-tile {
  background: lightblue;
  border-radius: 20px;
}

mat-card {
  background-color: #f2f2f2;
  height: 100%;
  width: 100%;
  padding: 20px 0;
}

mat-card-header {
  padding-top: 20px;
}

img {
  height: 100%;
  width: 100%;
  position: relative;
}
