<h1>Projects</h1>
<mat-grid-list id="projects" [cols]="colNum" (window:resize)="onResize($event)" rowHeight="16:4" [style.margin]="margin" gutterSize="20px">
  <mat-grid-tile
  appMaterialElevation
  [defaultElevation]="defaultElevation"
  [raisedElevation]="raisedElevation"
  *ngFor="let siteCard of siteCards"
  [colspan]="siteCard.cols"
  [rowspan]="siteCard.rows"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{siteCard.title}}</mat-card-title>
      </mat-card-header>
      <img [src]="siteCard.imageSrc">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<div class="container">
  <hr>
</div>

