<section id="contact" (window:resize)="onResize($event)">
  <div class="container" [style.width]="width">
    <p class="h1 mb-4 text-center" data-aos="fade-down">Contact me</p>
    <form
      data-aos="zoom-in-up"
      [formGroup]="form"
      (submit)="onSubmit()"
    >
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          formControlName="contactName"
          name="contactName"
          type="text"
          placeholder="First and Last Name"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          name="email"
          type="email"
          placeholder="You email"
          required
        />
        <span class="error-text" *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].pristine">Please enter a valid email address.</span>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Subject</mat-label>
        <mat-select
          [(value)]="selected"
          matInput
          formControlName="subject"
          name="subject"
          required
        >
          <mat-option value="Work Opportunity">Work Opportunity</mat-option>
          <mat-option value="Question">Question</mat-option>
          <mat-option value="General Remark">General Remark</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea
          matInput
          formControlName="message"
          name="message"
          required
        >
        </textarea>
      </mat-form-field>
      <button
        class="button"
        type="submit"
        mat-stroked-button
        color="primary"
        [disabled]="!form.valid"
      >
        Send
      </button>
    </form>
  </div>
</section>
