/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.no-hover-effect.mat-button:hover .mat-button-focus-overlay {
  background-color: transparent;
}

.mat-menu-content:not(:empty) {
  background-color: rgb(241, 241, 241);
}

.mat-menu-item:hover {
  border-radius: 5px;
}
