/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
  margin: 1.25em 0 1em 0;
  font-weight: 500;
}

.no-hover-effect.mat-button:hover .mat-button-focus-overlay {
  background-color: transparent;
}

.mat-menu-content:not(:empty) {
  background-color: rgb(241, 241, 241);
}

/* @media screen and (min-width: 600px) {
  .mat-menu-panel {
    display: none;
  }
} */

.mat-menu-item:hover {
  border-radius: 5px;
}
